# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Editor
.DS_Store
.vscode/

# Coverage
coverage/

# Misc
*.local
